footer.page-footer
{
  background: $gray-darker;
  color: #fff;
  padding: $grid-gutter-width 0;


  h4
  {
    margin-top: 0;
  }

  .list-unstyled li
  {
    padding: 5px 0;
  }

  a
  {
    color: #fff;
  }

  .copyright
  {
    font-size: 11px;
    text-transform: uppercase;
  }
}