body
{
  padding-top: 80px;

  &.community
  {
    padding-top: 0;
  }
}

.level { display: flex; align-items: center; }
.flex { flex: 1; }
.mr-1 { margin-right: 1em; }
[v-cloak] { display: none; }


.mt-ggw { margin-top: $grid-gutter-width; }
.mb-ggw { margin-bottom: $grid-gutter-width; }

.nrb { border-right: none; }
.nlb { border-left: none; }

a.no-highlight
{
  color: inherit;

  &:hover
  {
    text-decoration: none;
  }
}