.section-hero
{
  min-height: 500px;
  background: $brand-primary;

  &.minor
  {
    min-height: 200px;
  }

  .hero-content
  {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
    @extend .container;

    h1
    {
      margin-top: 0;
    }

    h2
    {
      font-size: 48px;
      margin: 0;
    }
  }
}

.community .section-hero .hero-content
{
  padding-top: 170px;
}