.masthead
{
  margin: 0;

  .navbar-brand
  {
    height: 80px;
    width: 180px + $grid-gutter-width;
    background-repeat: no-repeat;
    background-size: auto 60px;
    background-position-y: 10px;
    background-position-x: $grid-gutter-width / 2;
    @include text-hide;
  }

  .nav > li > a
  {
    font-size: 16px;
    padding: 29px 15px;
  }

  .navbar-brand
  {
    //background-image: url('./img/em-logo-gradient.svg');
  }
}

.community .masthead
{
  background: none;
  border: none;
  position: absolute;
  left: 0;
  right: 0;

  .navbar-brand
  {
    background-image: url('/img/em-logo-white.svg');
  }

  .nav > li > a
  {
    color: #fff;
  }
}