.price-panel
{
  text-align: center;
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  @extend .panel;
  @extend .panel-default;

  &.primary
  {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;

    border-color: $brand-primary;
    background-color: $brand-primary;
    color: #fff;
  }

  &.secondary
  {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
  }

  h3
  {
    font-size: 36px;
  }

  h4
  {
    font-size: 24px;
  }
}